<div class="container mx-auto my-8">
  <h1 class="text-2xl font-bold mb-4">Про нас</h1>
  <p class="mb-4">
    Шановні покупці!
  </p>
  <p class="mb-4">
    В нашому Інтернет магазині ви зможете придбати всю необхідну електротехнічну продукцію, як для власних потреб, так і для комплектації великих будівельних об'єктів. Це - щитове устаткування та силові роз'єми, кабельно-провідникова продукція, низьковольтне обладнання, системи прокладки кабелю, електроінсталяція, джерела світла, силове обладнання, витратні матеріали, світлотехніка і багато іншого.
  </p>
  <h2 class="text-xl font-bold mt-6 mb-4">Ми пропонуємо:</h2>
  <ul class="list-disc list-inside mb-4">
    <li>якісне електротехнічне обладнання за оптимальними цінами;</li>
    <li>зручність замовлення - Ви можете оформити заявку на товар прямо на сайті або по телефону у наших менеджерів;</li>
    <li>індивідуальний підхід до кожного покупця - надаємо не тільки технічні характеристики товарів, а й власний досвід у вирішенні завдань;</li>
    <li>постійна наявність товару;</li>
    <li>широкий асортимент товарів;</li>
    <li>наші філії розташовані по всій Україні;</li>
    <li>тільки сертифіковану і високоякісну електротехніку;</li>
    <li>своєчасне виконання замовлень і безперебійна доставка товару клієнтам завдяки власній транспортній базі.</li>
  </ul>
  <h2 class="text-xl font-bold mt-6 mb-4">Переваги роботи з компанією</h2>
  <p>
    Купуючи електротехнічну продукцію в нашому Інтернет магазині, ви заощадите свій час і кошти, отримавши замовлення в зручному для Вас місці.
  </p>
</div>